#dashboard {
  display: flex;
  width: 90%;
  max-width: 120rem;
  border-radius: 0.8rem;
  margin: 2rem auto;
}

#dashboard > main {
  width: 100%;
}

#dashboard > main > h2 {
  margin-bottom: 2rem;
}

.delete-btn {
  background-color: var(--red);
  border: none;
  padding: 0.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 200ms ease;
}

.delete-btn:hover {
  background-color: #a71a1d;
}
