#dashboard > aside {
  background-color: var(--white);
  width: 30%;
  min-width: 27.3rem;
  height: 45rem;
  margin: 2rem;
  border-radius: .7rem;
}

#dashboard > aside > .container > ul {
  list-style: none;
  padding: 2rem;
}

#dashboard > aside > .container > ul > li {
  margin-bottom: 1rem;
  padding: 1rem;
}

#dashboard > aside > .container > ul > li:hover {
  background-color: var(--gray-two);
  cursor: pointer;
  border-radius: .4rem;
}

