#relevant_posts {
  width: 90%;
  margin: auto;
  padding-top: 1.5rem;
  padding-bottom: 10rem;
}

#relevant_posts h2 {
  font-size: 2rem;
  color: #424242;
  margin-bottom: 2rem;
}

#posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post {
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  background-color: #fff;
}

.post img {
  object-fit: cover;
  width: 100%;
}

.post-content {
  padding: 1rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header > .locale {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.post-header > .locale > img {
  width: 2rem;
  height: 2rem;
}

.post-header > .locale > p {
  font-size: 1.2rem;
  font-family: var(--poppins);
}

.post-body p {
  padding: 1.5rem 0;
  font-size: 1.4rem;
  font-family: var(--poppins);
  min-height: 8rem;
  height: 12rem;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.post-footer .relevant-doubts-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.post-footer a {
  color: #5e89e5;
}
