#how_can_help {
  width: 90%;
  margin: auto;
  padding: 5rem 0 2rem 0;
}

#how_can_help h2 {
  font-size: 2rem;
  color: #424242;
  margin-bottom: 2rem;
}

#tools {
  scroll-behavior: smooth;
  scroll-snap-align: start;
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  gap: 2rem;
  overflow-x: auto;
  scroll-snap-type: both mandatory;
  scroll-padding-left: 2rem;
  padding-bottom: 1rem;
  justify-content: start;
  overflow: auto visible ;
}

#tools::-webkit-scrollbar {
  height: 1rem;
}

#tools::-webkit-scrollbar-track {
  border-radius: 0.5rem;
}

#tools::-webkit-scrollbar-thumb {
  background: var(--gray-inputs-border);
  border-radius: 1rem;
  border: 0.2rem solid var(--gray-background);
}

#tools::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.tool-icon {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 0.5rem;
  background-color: #e4e4e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-description {
  font-size: 1.4rem;
  color: #424242;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
}
