#map_screen {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#map_container {
  width: 100%;
  height: 90%;
  z-index: -1;
  display: flex;
  flex-direction: column;
}

#the_map_container {
  width: 100%;
  height: 66%;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.complaints_bar {
  width: 100%;
  background-color: var(--white);
  transition: width, height 200ms ease;
  border: 0.1rem solid var(--gray-inputs-border);
}

.complaints_bar > .container {
  padding: 2rem;
  overflow: hidden;
  height: auto;
}

.complaints_bar > .container > #header_complaints_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.complaints_bar > .container > #header_complaints_bar > h2 {
  font-size: 1.8rem;
  font-family: var(--sora-font);
  padding: 1rem 0;
}

.complaints_bar > .container > #header_complaints_bar > button {
  background: transparent;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

.complaints_bar > .container > #header_complaints_bar > button:hover {
  background-color: var(--gray-inputs);
  border-radius: 1rem;
}

.complaints_bar > .container > #complaints_container_bar {
  overflow-y: scroll;
  height: 45vh;
}

/* width */
.complaints_bar > .container > #complaints_container_bar::-webkit-scrollbar {
  width: 1.1rem;
}

/* Track */
.complaints_bar
  > .container
  > #complaints_container_bar::-webkit-scrollbar-track {
  border-radius: 0.5rem;
}

/* Handle */
.complaints_bar
  > .container
  > #complaints_container_bar::-webkit-scrollbar-thumb {
  background: var(--gray-scroll);
  border-radius: 1rem;
  border: 0.2rem solid var(--white);
}

/* Handle on hover */
.complaints_bar
  > .container
  > #complaints_container_bar::-webkit-scrollbar-thumb:hover {
  background: var(--gray-inputs-border);
}

.complaints_bar > .container > #complaints_container_bar > ul {
  margin-top: 2rem;
}

.complaints_bar > .container > #complaints_container_bar > ul > li > a {
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 1rem;
  padding: 1rem 0.5rem;
  color: var(--dark);
  font-size: 1.4rem;
  text-decoration: none;
  border-radius: 0.7rem;
}

.complaints_bar > .container > #complaints_container_bar > ul > li > a:hover {
  background-color: var(--gray-inputs);
}

.complaints_bar > .container > #complaints_container_bar > ul > li > a > p {
  padding-right: 1rem;
  height: 2.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.complaints_bar.minimized > .container > #complaints_container_bar {
  display: none;
}

#minimize_btn_right {
  display: none;
}

@media (min-width: 830px) {
  .complaints_bar.minimized > .container {
    padding: 2rem;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .complaints_bar {
    width: 50%;
    height: 100% !important;
    z-index: 1;
  }

  #map_container {
    height: 80%;
    flex-direction: row-reverse;
  }

  #minimize_btn_right {
    display: block;
  }

  .complaints_bar.minimized {
    height: 100vh;
    width: 7rem;
  }

  .complaints_bar.minimized > .container > #complaints_container_bar > ul,
  .complaints_bar.minimized > .container > #header_complaints_bar > h2 {
    display: none;
  }

  .complaints_bar.minimized > .container > #header_complaints_bar {
    height: 4.5rem;
  }

  #minimize_btn {
    display: none;
  }

  .complaints_bar > .container > #complaints_container_bar {
    max-height: 48rem;
    height: 100%;
  }
}

@media (min-width: 500px) {
  .complaints_bar.minimized > .container > #complaints_container_bar {
    display: none;
  }

  .complaints_bar > .container {
    padding: 3rem 2rem;
  }

  #map_container {
    height: 88%;
  }
}

@media (max-width: 500px) {


  #map_container {
    height: 100%;
  }
}


@media (max-width: 370px) {
  html {
    font-size: 62.5%;
  }
}