#users_posts {
  width: 90%;
  max-width: 100rem;
  margin: auto;
  padding-top: 3.5rem;
}

#users_posts > h2 {
  font-size: 2rem;
  color: var(--dark);
  margin-bottom: 2rem;
}

#search_complaints_container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

#search_complaints_container > button {
  height: 3.5rem;
  font-size: 1.4rem;
  padding-inline: 2rem;
  background-color: var(--light-blue);
  color: #fbfbfb;
  font-family: var(--poppins);
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

#classify {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

#choose_classify {
  padding: 0.5rem;
  font-family: var(--poppins);
  background-color: var(--gray-inputs);
  border: 0.1rem solid var(--gray-inputs-border);
  border-radius: 0.5rem;
}

#load-more {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  font-family: var(--poppins-font);
  background-color: transparent;
  border: 0.1rem solid var(--gray-inputs-border);
  border-radius: 0.3rem;
}

.button-is-false {
  background-color: none;
  cursor: pointer;
}

.button-is-false:hover {
  border: 0.1rem solid var(--dark);
}

.button-is-true {
  background-color: var(--gray-inputs);
  cursor: not-allowed;
}

.button-is-true:hover {
  border: 0.1rem solid var(--gray-inputs-border);
}

#homepage_footer {
  width: 100%;
  padding: 0 10%;
  background-color: var(--gray-inputs);
}
