main {
  width: 90%;
  margin: 5rem auto;

  .informative-text {
    padding-top: 3rem;
    position: relative;

    div > h2 {
      font-family: var(--urbanist-font);
      font-size: 3.6rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    div > p {
      color: #a3a3a3;
      max-width: 30rem;
      margin: auto;
      text-align: center;
    }

    .illustration-image {
      width: 30.6rem;
      margin: auto;
      text-align: center;
      display: block;
      margin-top: 3rem;
    }
  }

  .more-info {
    margin-top: 8rem;

    h2 {
      font-size: 2rem;
    }

    img[alt="person-on-maps"] {
      width: 100%;
      margin-top: 2rem;
    }
  }
}

footer {
  width: 90%;
  padding: 2rem 0;
  margin: auto;
  display: flex;
  gap: 2rem;
}

@media (min-width: 765px) {
  header {

  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}