#landing_header {
  width: 100%;
  background-color: var(--white);
  border-bottom: 0.15rem solid var(--gray-inputs);
}

#landing_header > .container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

#landing_header > .container > h1 {
  font-family: var(--urbanist-font);
  color: var(--dark);
  font-size: 2rem;
}

#landing_header > .container > nav > ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-size: 1.6rem;
}

#landing_header > .container > nav > ul > li > a {
  color: var(--dark);
  font-weight: normal;
  text-decoration: underline transparent;
  text-underline-offset: 0.6rem;
  transition: text-decoration 200ms ease-in-out;
}

#landing_header > .container > nav > ul > li > a:hover {
  text-decoration: underline var(--dark);
}

#landing_main {
  width: 100%;
}

section#landing_hero {
  width: 100%;
  height: fit-content;
  background-color: #2d65ffa6;
  background-image: url("../../assets/park.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--dark);
}

section#landing_hero > .container {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 8rem 0 15rem 0;
}

section#landing_hero > .container > h2 {
  font-family: var(--sora-font);
  font-size: 4rem;
  margin-bottom: 3rem;
  user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  animation: fromBottom 0.8s 0.5s backwards ease;
  color: var(--white);
}

section#landing_hero > .container > #hero_description {
  font-size: 1.6rem;
  width: 70%;
  margin: 2rem auto;
  user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  animation: fromBottom 0.8s 0.7s backwards ease;
  color: var(--white);
}

#slogan-text {
  color: var(--white);
  font-size: 1.4rem;
  font-style: oblique;
  margin-bottom: 4rem;
  user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  animation: fromBottom 0.8s 0.8s backwards ease;
}

#slogan-text:hover {
  text-decoration: underline;
}

section#landing_hero > .container > a {
  background-color: var(--white);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  color: var(--dark);
  font-weight: 600;
  font-size: 1.4rem;
  transition: box-shadow 200ms ease;
  box-shadow: 15px 15px 29px #acacac, -15px -15px 29px #ffffff;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-select: none;
  animation: fromBottom 0.8s 1.2s backwards ease;
}
section#landing_hero > .container > a:hover {
  box-shadow: 15px 15px 35px #9b9b9b, -15px -15px 35px #ffffff;
}

#landing_complaints {
  padding: 5rem 0;
}

#landing_complaints > .container {
  width: 90%;
  margin: auto;
}

#landing_complaints > .container > h2 {
  color: var(--dark);
}

#landing_video {
  background-color: var(--dark);
  padding: 12rem 0;
  
}

#landing_video > .container {
  width: 90%;
  margin: auto;
}

#landing_video > .container > h2 {
  color: var(--white);
  margin-bottom: 3rem;
}

#landing_video > .container > #info_video {
  display: flex;
  gap: 4rem;
  color: #fff;
  align-items: flex-start;
}

#landing_video > .container > #info_video > iframe {
  width: 60%;
}

#landing_video > .container > #info_video > #video_description {
  width: 50%;
}

#landing_video > .container > #info_video > #video_description > p {
  margin-top: 3rem;
}

footer .container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

footer .container > ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

footer .container > ul > li > a {
  color: var(--dark);
  text-decoration: none;
}

footer .container > ul > li > a:hover {
  text-decoration: underline;
  text-underline-offset: 0.6rem;
}

@media (min-width: 1115px) {
  section#landing_hero {
    height: 85vh;
    background-position: center bottom;
  }
}

@media (max-width: 970px) {
  #landing_video {
    padding: 5rem 0;
    text-align: center;
  }

  #landing_video > .container > #info_video > iframe {
    width: 100%;
  }

  #landing_video > .container > #info_video {
    flex-direction: column-reverse;
  }

  #landing_video > .container > #info_video > #video_description {
    width: 100%;
  }
}

@media (max-width: 765px) {
  section#landing_hero > .container {
    width: 90%;
  }

  section#landing_hero > .container > h2 {
    font-size: 3rem;
  }

  section#landing_hero > .container > #hero_description {
    font-size: 1.4rem;
    width: 90%;
  }
}

@media (max-width: 700px) {
  footer > .container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 3rem;
  }
}

@media (max-width: 390px) {
  #landing_video > .container > h2 {
    font-size: 1.8rem;
  }

  #landing_header > .container > nav {
    display: none;
  }

  #landing_header > .container > h1 {
    margin: auto;
  }

  footer .container > ul {
    flex-direction: column;
    align-items: center;
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
