header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

header a {
  background-color: black;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  max-width: fit-content;
  text-decoration: none;
  cursor: pointer;
}

header h1 {
  width: 100%;
  text-align: center;
}

main {
  width: 90%;
  margin: auto;
  padding-top: 5rem;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: right;
  font-weight: 500;
  gap: 2rem;
  width: 100%;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.data input {
  width: 100%;
  height: 3.5rem;
  border: none;
  background-color: #e4e4e6;
  border-radius: 0.5rem;
  font-family: var(--poppinst-font);
  font-size: 1.4rem;
  padding-left: 1rem;
}

.Form img {
  width: 80%;
  height: auto;
  margin: auto;
}

.Form button {
  width: 100%;
  height: 5rem;
  margin: auto;
  border: none;
  font-family: var(--poppinst-font);
  font-size: 1.6rem;
  border-radius: 6px;
  background-color: black;
  color: white;
  cursor: pointer;
}
