#signup_container {
  display: flex;
  width: 100%;
}

#illustration {
  width: 50%;

  background-image: url("https://images.unsplash.com/photo-1510846606678-710c05a5c776?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#form_signup {
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  gap: 2rem;
  padding: 5rem 0;
  width: 50%;
}

#form_signup > #form_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#form_inputs > h1 {
  font-family: var(--urbanist-font);
  font-size: 2rem;
}

#form_inputs > h2 {
  font-size: 2.5rem;
}

#register_submit_button {
  background-color: #0c0c0d;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1.5rem 0;
  border: 0.2rem solid #0c0c0d;
  width: 100%;
  border-radius: 0.5rem;
  text-align: center;
  height: fit-content;
  cursor: pointer;
  text-decoration: none;
}

#already_have_account {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

#already_have_account > a {
  color: var(--light-blue);
  text-decoration: none;
}

#form_signup {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#i_agree {
  font-size: 1.2rem;
  color: var(--gray-inputs-border);
  font-style: italic;
}

#i_agree > a {
  text-decoration: none;
  color: var(--light-blue);
}

@media (max-width: 900px) {
  #form_signup {
    width: 70%;
  }

  #illustation {
    width: 30%;
  }
}

@media (min-width: 765px) {
  #form_signup {
    flex-direction: column;
  }

  #form_signup > #form_inputs {
    width: 90%;
  }

  #register_submit_button {
    padding: 1rem;
    width: 90%;
  }
}

@media (max-width: 765px) {
  #form_signup {
    padding: 5rem 0 ;
    width: 90%;
    margin: auto;
  }

  #illustration {
    display: none;
  }
}


@media (max-width: 470px) {
  #form_inputs > h2 {
    font-size: 2rem;
  }
}