.form-signup {
  background-color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.profile-picture {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#user-photo[type="file"] {
  display: none;
}

.custom-file-button {
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.5rem;
  height: 10.5rem;
  cursor: pointer;
  padding: 2rem;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-file-button > img {
  width: 3.5rem;
  height: 3.5rem;
}

.custom-file-button:hover {
  background-color: #d1d1d1;
}

.form-signup .data {
  margin-bottom: 3rem;
  width: 100%;
}

.registerSubmitButton {
  background-color: #0c0c0d;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1.5rem 0;
  border: 0.2rem solid #0c0c0d;
  width: 100%;
  border-radius: 0.5rem;
  text-align: center;
  height: fit-content;
  cursor: pointer;
  text-decoration: none;
}

.photo-name-email {
  display: inline;
}

.signup-text {
  display: none;
}

.name-age,
.password-confirm-password {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
}

.form-signup {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

@media (min-width: 765px) {
  .form-signup {
    flex-direction: column;
  }

  .form-signup .data {
    width: 90%;
  }

  .name-age,
  .password-confirm-password {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
  }

  .signup-text {
    display: block;
    margin-top: 2rem;
  }

  .registerSubmitButton {
    padding: 1rem;
    width: 90%;
    margin-bottom: 2rem;
  }
  
  .login-signup a {
    display: block;
  }
}
