#post-modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 3rem 5rem;
  background-color: #6969697d;
  z-index: 9999;
}

#post-container {
  background-color: var(--white);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  font-size: 1.4rem;
  overflow-y: scroll;
  padding-bottom: 2rem;
}

#post-container::-webkit-scrollbar {
  display: none;
}

#close-modal {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

#post-header {
  padding: 2rem;
  border-bottom: 0.1rem solid #a3a3a35e;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#post-main {
  width: 90%;
  margin: auto;
}

#post-main > h2 {
  margin-bottom: 1rem;
}

#locale > p {
  height: 5rem;
  width: 60%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

#post-main > img {
  display: block;
  margin: 1rem auto;
  width: 65%;
  border-radius: 0.5rem;
  object-fit: cover;
}

#local-date {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin: 2rem 0;
}

#locale {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

#post-desc {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

#relevance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

#relevance-points {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: underline;
  vertical-align: middle;
}

#relevance-points-btn {
  background-color: var(--light-blue);
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-family: var(--poppins-font);
  color: #fbfbfb;
  cursor: pointer;
}

#relevance-points-btn > span {
  color: #fbfbfb;
}

#relevance-points-btn:hover {
  filter: brightness(0.9);
}

#relevance-points-btn > img {
  width: 1.8rem;
  height: 1.8rem;
}

#solution {
  background-color: var(--gray-inputs);
  margin: 2rem 0;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--gray-inputs-border);
}

#solution > h2 {
  font-size: 1.8rem;
  color: var(--light-blue);
  margin-bottom: 1rem;
}

#solution > p {
  font-size: 1.6rem;
}

#comments > h2 {
  margin-bottom: 2rem;
}

label[for="add_a_comment"] {
  font-size: 1.6rem;
}

#add_your_comment {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

#add_a_comment {
  width: 100%;
  height: 3.5rem;
  border: 0.1rem solid var(--gray-inputs-border);
  background-color: var(--gray-inputs);
  border-radius: 0.5rem;
  font-family: var(--poppinst-font);
  font-size: 1.4rem;
  padding-inline: 1rem;
}

#add_your_comment > button {
  padding-inline: 2rem;
  height: 3.5rem;
  background-color: var(--light-blue);
  border: none;
  border-radius: 0.5rem;
  font-family: var(--poppins-font-font);
  color: var(--white);
  cursor: pointer;
}

#add_your_comment > button:hover {
  background-color: #4d6199;
}

#comments > ul {
  list-style: none;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

#comments > ul > li > h3 {
  color: var(--light-blue);
  font-family: var(--sora-font);
  margin-bottom: 0.5rem;
  display: inline;
}

#comments > ul > li > p {
  display: inline;
}

@media (max-width: 800px) {
  #relevance {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
}

@media (min-width: 900px) {
  #post-main > img {
    width: auto;
  }
}

@media (max-width: 765px) {
  #post-modal-overlay {
    padding: 3rem;
  }
}

@media (max-width: 550px) {
  #post-modal-overlay {
    padding: 0rem;
    border-radius: 0;
  }

  #post-container {
    border-radius: 0;
  }
}
