footer .container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  padding: 3rem 0;
}

footer .container #links {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  gap: 2rem;
  width: 100%;
  border-bottom: 0.1rem solid var(--gray-inputs-border);
  padding-bottom: 2.5rem;
}

footer .container > #links > #footer_slogan > strong,
footer .container > #links > ul > li > strong {
  font-family: var(--sora-font);
  color: var(--dark);
  font-weight: 600;
}

footer .container > #links > #footer_slogan > #slogan {
  margin-top: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--gray-one);
  font-style: oblique;
}

footer .container > #links > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: right;
}

footer .container > #links > ul > li > a {
  text-decoration: none;
  color: var(--gray);
  display: inline-block;
}

footer .container > #links > ul > li > a::after {
  content: "";
  width: 0;
  height: 0.1rem;
  display: block;
  background: var(--gray-inputs-border);
  transition: 300ms;
}

footer .container > #links > ul > li > a:hover::after {
  width: 100%;
}

@media (max-width: 700px) {

  footer .container {
    align-items: flex-start;
  }

  footer .container > #links {
    align-items: normal;
    flex-direction: column-reverse;
    gap: 3rem;
  }

  footer .container > #links > ul {
    text-align: left;
  }

}

@media (max-width: 500px) {
  footer .container {
    padding-bottom: 8rem;
  }
}
