#header_homepage {
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid var(--gray-inputs-border);
  background-color: var(--white);
  height: 10%;
  min-height: 7rem;
  position: relative;
  z-index: 1;
}

#header_container {
  width: 90%;
  max-width: 100rem;
  margin: auto;
  padding: 1.7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

#dashboard_btn {
  display: none;
  height: 2.4rem;
}

#header_container > a {
  user-select: none;
  color: var(--dark);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--urbanist-font);
}

#header_container > a > h1 {
  font-size: 1.8rem;
}

#settings_btn {
  display: none;
}

#header_container > nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

#header_container > nav > ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

#header_container > nav > ul > li > a {
  text-decoration: none;
  color: #fbfbfb;
  background-color: var(--light-blue);
  padding: 1rem 2rem;
  font-weight: normal;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#header_container > nav > ul > li > a:hover {
  background-color: #4d6199;
}

#burguer {
  cursor: pointer;
}

#burguer > #lines {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 3rem;
  height: 2.4rem;
}

#burguer > #lines > .line {
  width: 100%;
  height: 0.2rem;
  background-color: var(--dark);
  transition: transform 300ms ease;
}

#burguer > #lines.cross > .line:nth-child(1) {
  transform: rotate(45deg) translate(0.8rem, 0.6rem);
}

#burguer > #lines.cross > .line:nth-child(2) {
  opacity: 0;
}

#burguer > #lines.cross > .line:nth-child(3) {
  transform: rotate(-45deg) translate(0.6rem, -0.3rem);
}

.burguer_menu.deactivate {
  display: none;
}

.burguer_menu.active {
  position: absolute;
  top: 6.9rem;
  z-index: 1 !important;
  display: block;
  background-color: var(--white);
  transition: display 300ms ease;
  width: 100%;
  height: fit-content;
  user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.burguer_menu.active > #nav_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100rem;
  padding-top: 1rem;
  list-style: none;
  width: 90%;
  margin: auto;
  font-size: 1.4rem;
  font-weight: normal;
}

.burguer_menu.active > #nav_item > hr {
  width: 100%;
}

.burguer_menu.active > #nav_item > a {
  text-decoration: none;
  color: var(--dark);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  border-radius: 0.5rem;
}

.burguer_menu.active > #nav_item > a:hover {
  background-color: var(--gray-inputs);
}

@media (min-width: 500px) {
  #nav_item > a:nth-child(8),
  #nav_item > hr:nth-child(7),
  #nav_item > a:nth-child(2),
  #nav_item > hr:nth-child(1) {
    display: flex !important;
  }
}

@media (max-width: 500px) {
  #header_container > nav > ul {
    display: none;
  }

  #burguer {
    display: none;
  }

  #dashboard_btn,
  #settings_btn {
    display: flex;
  }

  #nav_item > a:nth-child(8),
  #nav_item > hr:nth-child(7),
  #nav_item > a:nth-child(2),
  #nav_item > hr:nth-child(1) {
    display: none !important;
  }
}
