#main_report {
  width: 90%;
  max-width: 100rem;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 7.5rem;
  display: flex;
  flex-direction: column;
}

#main_report > label {
  font-weight: 600;
  font-family: var(--poppins-font);
  margin-bottom: 1rem;
}

#main_report > textarea {
  font-family: var(--poppins-font);
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 0.1rem solid var(--gray-inputs-border);
  background-color: var(--gray-inputs);
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

textarea {
  resize: none;
  height: 20rem;
}

#set_address {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

#category {
  margin-bottom: 2rem;
  padding-right: 2rem;
}

#set_address > input,
#category {
  font-family: var(--poppins-font);
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid var(--gray-inputs-border);
  background-color: var(--gray-inputs);
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

#set_address > button {
  background-color: var(--light-blue);
  color: var(--white);
  border: none;
  height: 4.7rem;
  font-family: var(--poppins-font);
  font-size: 1.6rem;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

#set_address > button:hover {
  background-color: #435a99;
}

#doubt {
  color: var(--red);
  cursor: help;
}

#point_on_the_map {
  width: 100%;
  height: 30rem;
  margin-bottom: 1.5rem;
  border: 0.1rem solid var(--gray-inputs-border);
  border-radius: 1rem;
}

#address_in_map {
  margin-bottom: 1rem;
  font-style: oblique;
}

#add_image_btn {
  display: none;
}

#add_img_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, auto));
  gap: 2rem;
}

.add_img {
  background-color: var(--gray-inputs);
  border: 0.1rem solid var(--gray-inputs-border);
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 100ms ease;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 15rem;
}

.add_img > img {
  transition: transform 200ms ease;
  transform: scale(1.2);
}

.add_img:hover > img {
  transform: scale(1.4);
}

.add_img:hover {
  background-color: #cdcdcd;
}

.file_input {
  display: none;
}

.post-btn {
  display: block;
  width: 100%;
  margin-top: 3rem;
  padding: 2rem 1rem;
  background-color: var(--light-blue);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  transition: background-color 200ms ease;
  cursor: pointer;
}

.post-btn:hover {
  background-color: #435a99;
}

#report_footer {
  width: 100%;
  padding: 0 10%;
  background-color: var(--gray-inputs);
}

@media (min-width: 768px) {
  .map-container {
    height: 300px;
  }

  textarea {
    height: 150px;
  }

  .preview-image {
    height: 250px;
  }
}

@media (max-width: 500px) {
  #point_on_the_map {
    height: 50rem;
  }
}
