#main_report {
  width: 90%;
  max-width: 100rem;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 7.5rem;
  display: flex;
  flex-direction: column;
}

#main_report > label {
  font-weight: 600;
  font-family: var(--poppins-font);
  margin-bottom: 1rem;
}

#main_report > textarea {
  font-family: var(--poppins-font);
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 0.1rem solid var(--gray-inputs-border);
  background-color: var(--gray-inputs);
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

textarea {
  resize: none;
  height: 20rem;
}

#set_address {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

#set_address > input {
  font-family: var(--poppins-font);
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid var(--gray-inputs-border);
  background-color: var(--gray-inputs);
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

#set_address > button {
  background-color: var(--light-blue);
  color: var(--white);
  border: none;
  height: 4.7rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

#set_address > button:hover {
  background-color: #435a99;
}

#doubt {
  color: var(--red);
  cursor: help;
}

#point_on_the_map {
  width: 100%;
  height: 30rem;
  margin-bottom: 1.5rem;
  border: 0.1rem solid var(--gray-inputs-border);
  border-radius: 1rem;
}

#address_in_map {
  margin-bottom: 1rem;
  font-style: oblique;
}

#add_image_btn {
  display: none;
}

label[for="add_image_btn"] {
  width: 100%;
  height: 25rem;
  background-color: var(--gray-inputs);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0.2rem dashed var(--gray-inputs-border);
  cursor: pointer;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 200ms ease;
  color: var(--light-blue);
}

label[for="add_image_btn"]:hover {
  background-color: #cdcdcd;
}

label[for="add_image_btn"] > img {
  width: 6rem;
  height: 6rem;
}

.post-btn {
  display: block;
  width: 100%;
  margin-top: 3rem;
  padding: 2rem 1rem;
  background-color: var(--light-blue);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  transition: background-color 200ms ease;
  cursor: pointer;
}

.post-btn:hover {
  background-color: #435a99;
}

@media (min-width: 768px) {
  .map-container {
    height: 300px;
  }

  textarea {
    height: 150px;
  }

  .preview-image {
    height: 250px;
  }
}

@media (max-width: 500px) {
  #point_on_the_map {
    height: 50rem;
  }
}
