#footer_homepage {
  width: 100%;
  padding: 1rem 0;
  background-color: #fff;
  border-top: 0.1rem solid #adadad;
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: none;
}

#footer_container {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#footer_container a {
  transition: transform 200ms ease;
  user-select: none;
}

#footer_container a:hover {
  transform: scale(1.1);
}

@media (max-width: 500px) {
  #footer_homepage {
    display: block;
  }
}
