* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

:root {
  --sora-font: "Sora", sans-serif;
  --urbanist-font: "Urbanist", sans-serif;
  --poppinst-font: "Poppins", sans-serif;
  --gray-one: #424242;
  --gray-inputs-border: #a3a3a3;
  --gray-inputs: #e4e4e6;
  --gray-background: #F1F2F3;
  --white: #ffffff;
  --dark: #212121;
  --red: #FF353A;
  --light-blue: #597de1;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  overflow-x: hidden;
  font-family: var(--poppinst-font);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  color: var(--dark);
}

body {
  font-size: 1.6rem;
  background-color: var(--gray-background);
}
